[core]
	editor = $EDITOR --wait
[difftool "zed"]
	cmd = "$EDITOR --wait --diff \"$LOCAL\" \"$REMOTE\""
[diff]
	tool = zed
[push]
	autoSetupRemote = true
[pull]
	ff = true
[alias]
	st = status
	dis = difftool -y --staged
	oops = reset HEAD~1
	new = switch -c
	# https://git-scm.com/docs/pretty-formats/2.35.0
	logp = log  --pretty=format:'%C(green)%ad%Creset %<(11,trunc)(%cr) %C(yellow)%h%Creset %<(50,mtrunc)%s %C(blue)[%an]%Creset' --date='format-local:%d%b%Y %H:%M'
[fetch]
	all = true
	prune = true
	pruneTags = true
[rerere]
	enabled = true
[init]
	defaultBranch = "main"
[advice]
	skippedCherryPicks = false
